.weeks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $spacing--base / 2;
  @include MQ(M) {
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
  &__week {
    text-align: center;
    background-color: $color--bg--secondary;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    text-decoration: none;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    &:active {
      transform: scale(0.95);
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
   }

}