<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>ISCG6420 - Project 1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.scss">
</head>
<body>
  <div class="ad1">
    <div class="container">
      <img height="75px" class="ad1__logo" src="logo.png" alt="logo">
      <img height="75px" class="ad1__logo-title" src="logo-title.png" alt="logo">
      <h1 class="ad1__title">Come Experience our Treasure</h1>
    </div>
    <div class="ad1__image">
      <h2 class="ad1__slogan">Cape Reinga with SandSafari - Nobody does it better</h2>
      <a class="ad1__call" href="http://www.sandsafaris.co.nz">Book Now</a>
      <span class="ad1__student">Etienne Gobeli - 1509977 - <a href="Storyboard.jpg" target="_blank">Storyboard</a></span>
    </div>
  </div>
  <section class="tutorial">
    <nav class="tutorial__nav">
      <a href="#step1">Step 1</a>
      <a href="#step2">Step 2</a>
      <a href="#step3">Step 3</a>
      <a href="#step4">Step 4</a>
    </nav>
    <div class="container" id="step1">
      <h2>Step 1</h2>
    </div>
    <div class="container" id="step2">
      <h2>Step 2</h2>
    </div>
    <div class="container" id="step3">
      <h2>Step 3</h2>
    </div>
    <div class="container" id="step4">
      <h2>Step 4</h2>
    </div>
  </section>
</body>
</html>