@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  padding: 1rem;
}

.ad1 {
  position: relative;
  height: 200px;
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  &__logo {
    transform: translate(-150px, 0);
    animation: ad1Logo 2s forwards;
  }
  &__title {
    text-align: center;
    color: #009dbc;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin: 1rem 0;
    font-weight: 500;
    animation: fadeIn 3s forwards;
    opacity: 0;
  }
  &__image {
    height: 200px;
    width: 100%;
    background: url('slide4d.jpg') center top no-repeat;
    background-size: cover;
    position: absolute;
    top: -200px;
    left: 0;
    animation: ad1Image 1s 3s forwards;
    text-align: center;
  }
  &__slogan {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #FFED00;
    overflow: hidden;
    white-space: nowrap;
    margin: 1rem auto;
    letter-spacing: .15em;
    width: 0;
    animation: ad1Typing 4s 4s steps(50, end) forwards, ad1Color 4s both infinite;
  }
  &__call {
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    background-color: #05668D;
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 3px;
    color: #FFF;
    transform: scale(0);
    animation: ad1Call 2s 6s forwards;
  }
  &__student {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #555;
    opacity: 0;
    animation: fadeIn 2s 7s forwards;
  }
}

@keyframes ad1Logo {
  from {
    transform: translate(-200px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ad1Image {
  from {
    top: -200px;
  }
  to {
    top: 0;
  }
}

@keyframes ad1Typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes ad1Color {
  0% {
    color: #FFED00;
  }
  50% {
    color: #FF9E00;
  }
  100% {
    color: #FFED00;
  }
}

@keyframes ad1Call {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1)
  }
}

.split {
  display: flex;
}

.tutorial {
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  flex: 1;
  &__nav {
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: center;
    padding: .5rem 0;
    a {
      display: inline-block;
      text-decoration: none;
      background-color: #009dbc;
      color: #f5f5f5;
      padding: .5rem;
      margin-right: .5rem;
    }
  }
}

.ad2 {
  background: linear-gradient(to right, #05514A 0%, #006D41 100%);
  height: 400px;
  width: 380px;
  padding: 2rem;
  overflow: hidden;
  position: relative;
  h1 {
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    font-size: 2.5rem;
    font-weight: normal;
    a {
      color: #FFF;
    }
  }
}

.scenes .scene1 {
  animation: scene1 1s 3s forwards;
  position: absolute;
  &__title {
    transform: translateY(-200px);
    animation: title1 1s forwards;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5rem;
    margin-right: 2rem;
    transform: translateX(300px);
    animation: logo1 1s 1s forwards;
    h1 {
      font-size: 3rem;
      margin: 0;
    }
  }
}

@keyframes title1 {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes logo1 {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scene1 {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

.scenes .scene2 {
  position: absolute;
  width: 100%;
  &__title {
    opacity: 0;
    transform: translateY(-100px);
    animation: title2 1s 4s forwards, title2Out 1s 6s forwards;
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-top: 7rem;
    transform: translateY(100px);
    opacity: 0;
    animation: logo2 1s 5s forwards;
  }
  .slogan {
    font-size: 1.8rem;
  }
}

@keyframes title2 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes title2Out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes logo2 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.scenes .scene3 {
  &__title {
    opacity: 0;
    transform: translateY(-100px);
    animation: title2 1s 7s forwards;
  }
}

.scenes .name {
  display: block;
  width: 100%;
  color: #FFF;
  opacity: 0;
  transform: translateY(100px);
  animation: logo2 1s 8s forwards;
}

.restart {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #006D41;
  color: #FFF;
  border: none;
  font-size: 1rem;
  float: right;
  cursor: pointer;
}