<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Weather</title>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<body>
  <h1>Weather</h1>
  <form id="searchForm">
    <input type="text" id="searchInput" placeholder="city name">
    <button type="submit" id="search">Search</button>
  </form>
  <h2 id="weather">
  </h2>
  <script>
    function render() {
      const city = $('#searchInput').val();
      $.ajax({
        dataType: "json",
        url: `http://api.openweathermap.org/data/2.5/weather?q=${city}&APPID=f7a54c8632a6ca286efe7b50e588834a&units=metric`,
        success: d => {
          $('#weather').text(`${d.name} - ${d.main.temp}°`);
        },
        error: e => {
          $('#weather').text(e.responseJSON.message);
        }
      });
    }
    $('#searchForm').submit(e => {
      e.preventDefault();
      render();
    });
  </script>
</body>
</html>