<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>ISCG6420</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../scss/style.scss">
</head>
<body>
  <nav class="nav">
    <a href="/" class="nav__item nav__item--acitve">Home</a>
    <a href="#tasks" class="nav__item">Tasks</a>
    <a href="#homework" class="nav__item">Homework</a>
    <a href="project1/index.html" class="nav__item">Project 1</a>
  </nav>
  <header class="header">
    <img src="../assets/me.jpeg" class="header__me" alt="Me">
    <h1 class="header__title">ISCG6420 - Etienne Gobeli</h1>
  </header>
  <main class="container">
    <h2 id="tasks">Tasks</h2>
    <section class="weeks">
      <a href="tasks/week1/task1.html" class="weeks__week">
        <h3>Week 1</h3>
      </a>
      <a href="tasks/week2/index.html" class="weeks__week">
        <h3>Week 2</h3>
      </a>
      <a href="tasks/week3/index.html" class="weeks__week">
        <h3>Week 3</h3>
      </a>
      <a href="tasks/week4/shop.html" class="weeks__week">
        <h3>Week 4.1</h3>
      </a>
      <a href="tasks/week4_2/ShoppingCart.html" class="weeks__week">
        <h3>Week 4.2</h3>
      </a>
    </section>
    <h2 id="homework">Homework</h2>
    <section class="weeks">
      <a href="tasks/week1/task1.html" class="weeks__week">
        <h3>Week 1</h3>
      </a>
      <a href="tasks/week2/index.html" class="weeks__week">
        <h3>Week 2</h3>
      </a>
      <a href="homework/week3/index.html" class="weeks__week">
        <h3>Week 3.1</h3>
      </a>
      <a href="homework/week3_2/index.html" class="weeks__week">
        <h3>Week 3.2</h3>
      </a>
      <a href="homework/week4/index.html" class="weeks__week">
        <h3>Week 4</h3>
      </a>
    </section>
  </main>
</body>
</html>